body{
    background-image: url("1500566326-gettyimages-512366437-1.jpeg");
}

main{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.cuteness{
    background-color: aqua;
}

.distruction{
    background-color: aquamarine;
    grid-row: 2;
    grid-column: 2;
}

.care{
    background-color: blue;
    grid-column: 3;
}


.distruction div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}