
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Open+Sans:wght@300&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #21B3EA   ;
    --secondary-color: #A5DBF2 ;
    --accent1-color: #29B3CF;
    --accent2-color: #ffffff;
  
    /* change the values below to your chosen font(s) */
    --heading-font: Bangers;
    --paragraph-font: "Open Sans", Helvetica, sans-serif;
}

#content{
    max-width: 1600px;
    display: block; 
    margin: 0 auto;
}

#logo_link {
    padding-top: 5px;
}  

.logo{
    width: 80px;
}

nav a {
    font-family: var(--paragraph-font);
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    padding: 35px;
}  

nav a:hover{
    background-color: #29B3CF ;
    color: black;
}

#background{
    height: 725px;
    background-color: #21B3EA ;
}

.icon {
  padding-top: 10px;
}

Header{
    background-color: #21B3EA ;
}

#hero_img{
    width: 100%;
}

.home_title{
    font-family: var(--heading-font);
    font-size: 2em;
    margin-top: 10px;

}

.home-grid{
    text-align: center;
    margin: 0 auto;
    display: block;
}

 #hero_box{
    text-align: center;
    margin:0 auto;
}

.button-box{
    text-align: center;
}

.book{
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 5px;
    background-color: #29B3CF;
    margin-top: 50px;
}

main section img {
    box-sizing: border-box;
}

body{
    background-color: #A5DBF2;
    font-family: var(--paragraph-font);
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}  
.card-img{
    border: 10px solid #21B3EA ;
}

.msg{
    background-color: #29B3CF;
    line-height: 1.5em;
    padding: 35px;
}

.msg p{
    padding-bottom: 15px;
}

.foot{
    color: black;
    text-decoration: none;
}

footer{
    padding: 25px 50px;
}

footer .social img{
    padding-top: 15px;
}