@import url('https://fonts.googleapis.com/css2?family=Contrail+One&family=Righteous&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');

:root {
    /* color palette for the website */
    --primary-color: #69B50D;
    --secondary-color: #0A8C1D;
    --accent1-color: #0D86BA;
    --accent2-color: #0A1B7D;
  
    /* fonts for each type of headdings and words */
    --heading-font: Righteous, Contrail-one;
    --paragraph-font: "source code pro", Helvetica, sans-serif;

    --headline-color-on-white: #0D86BA;
    --headline-color-on-color: white;
    --paragraph-color-on-white: black; 
    --paragraph-color-on-color: white;
    --paragraph-background-color: #0A1B7D ;
    --nav-link-color: black;
    --nav-background-color: #69B50D;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #0A8C1D;

}

/* Headder and footer css */
header{
    display: grid;
    grid-template-columns: 600px 100px 940px;
    background-color: var(--nav-background-color);
    background-image: linear-gradient(to right,#69B50D, #0A1B7D);
    text-align: center;
    height: 75px;
    border-radius: 10px;  
    position: fixed;
    top: 0;
    z-index: 1;
}

/* Main content */

main{
    margin-top:70px;
}

body{
    background-color: grey;
}

.logo{
    width: 60px;
}

header p{
    grid-column: 3/4;
    grid-row: 1/2;
    font-size: 40px ;
    font-family: var(--heading-font);
    margin-top: 10px; 
    text-align: start;
    color: black;
 }

#logo-link {
    grid-row: 1/2;
    grid-column: 2/3;
    padding-top: 5px;
    padding-right: 10px;
    
}  
.nav-links{
    grid-column: 1/2;
    margin-top: 25px; 
}

nav a{
    font-family: var(--paragraph-font);
    font-size: 20px;
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 25px;
}



nav a:hover{
    background-color: rgba(90, 90, 90, 0.192);
    color: aliceblue;

}

/* footer css */

footer{
    background-color: var(--nav-background-color);
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h3 a{
    text-align: center;
    text-decoration: none;
    color: black;
}

/* End of header and footer */

#content{
    max-width: 1600px;
    display: block; 
    margin: 0 auto;
}

/* Home Page CSS */

  /* current project on home page*/
  .current-project{
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.current-project h1, p{
    grid-column: 1/2;
    vertical-align: middle;
}
.current-project h1{
    text-align: center;
    grid-row: 2/3;
}

.current-project p{
    grid-row: 3/4;
    width: 75%;
    padding-left: 50px;
}

.slideshow-box{
    display: block;
    margin-left: auto;
    margin-right: auto;
    grid-column: 3/4;
    grid-row: 1/5;
    width: 100%;
    height: 1000px;
    
}
.working-img{
    margin: auto;
    padding: 30px;
    width: 100%;
    max-height: 900px;
    vertical-align: middle;
}

.prev{
    left: 0; 
}
.left-right {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-column: 2/3;
    cursor: pointer;
    margin: 0 auto;
    width: auto;
    color: black;
    font-weight: bold;
    padding: 20px;
    font-size: 25px;
    user-select: none;
}
/*hero image*/
.hero{
    width: 100%;
}
.hero-img{
    width: 100%;
    margin-top: -10px;
    z-index: -1;
}

/* recent projects CSS */

.recent{
    background-color: #0A1B7D;
    color: white;
}

.poject-card-1{
    display: grid;
    box-shadow: 5px 5px 10px 2px rgba(58, 58, 58, .5);
    padding: 20px;
    margin-top: 25px;
    grid-template-columns: 1fr 2fr;
}

.poject-card-1 img {
    grid-column: 1/2;
    padding: 20px;
    width: 80%;
}

.poject-card-1 h1,.poject-card-1 p {
    grid-column: 2/3;
}



.poject-card-2{
    display: grid;
    padding: 20px;
    margin-top: 25px;
    box-shadow: 5px 5px 10px 2px rgba(58, 58, 58, .5);
    grid-template-columns: 1fr 2fr;
}

.poject-card-2 img {
    grid-column: 1/2;
    padding: 20px;
    width: 100%;
}

.poject-card-2 h1,.poject-card-2 p {
    grid-column: 2/3;
}
.project-title{
    text-align: center;
}

.project-text{
    padding: 20px;
}






/* End of Home Page CSS */