@import url('https://fonts.googleapis.com/css2?family=Contrail+One&family=Righteous&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');

:root {
    /* color palette for the website */
    --primary-color: #69B50D;
    --secondary-color: #0A8C1D;
    --accent1-color: #0D86BA;
    --accent2-color: #0A1B7D;
  
    /* fonts for each type of headdings and words */
    --heading-font: Righteous, Contrail-one;
    --paragraph-font: "source code pro", Helvetica, sans-serif;

    --headline-color-on-white: #0D86BA;
    --headline-color-on-color: white;
    --paragraph-color-on-white: black; 
    --paragraph-color-on-color: white;
    --paragraph-background-color: #0A1B7D ;
    --nav-link-color: black;
    --nav-background-color: #69B50D;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #0A8C1D;

}

.spacer{
    background-color: #0A1B7D;
    height: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    z-index: 1;
}

/* Headder and footer css */
.header{
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    background-color:white;
    text-align: center;
    border-radius: 10px;
    height: 75px ;
    z-index: 1;
}

.logo{
    width: 80px;
}

#logo-link {
    padding-top: 5px;
}  

.site-title{
    font-family: var(--heading-font);
    color: black;
    font-size: 2.5vw;
    text-align: left;
    margin-top: 25px;
}

nav a{
    
    font-family: var(--paragraph-font);
    font-size: 2vw;
    text-align: left;
    color: black;
    text-decoration: none;
    padding: 25px;
}

nav a:hover{
    background-color: #0D86BA;
    color: aliceblue;
}
.nav-links{
    margin-top: 25px;
    z-index: 1;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h3 a, footer h3 a{
    text-align: center;
    text-decoration: none;
    color: black;
}

/* End of header and footer */
.content{
    max-width: 1700px;
    display: block; 
    margin: 0 auto;
}

/* Home Page CSS */
/*hero page config*/

.hero{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-row: 1fr 1fr;
    z-index: -1;
    font-family: var(--heading-font);
}
.hero-pic{
    grid-column: 1/4;
    grid-row: 1/3;
    width: 100%;
    margin-bottom: 70px;
    z-index: -1;
}
.intro{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: 1; 
    background-image: linear-gradient(to bottom,#ffffff00, #ffffff );

    
}
.welcome{
    
    grid-column: 2/3;
    grid-row: 1/2;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    color: aliceblue;
    font-size: 4vw;
}

/*settings for intro message*/
.intro-msg{
    margin-top: 50vw;
    text-align: center;
    color: black;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    grid-column: 2/3;
    grid-row: 1/2;
    z-index: 1;
    font-size: 2vw;

}
.projects-title{
    font-family: var(--heading-font);
    font-size: 2vw;

}
/* grid settings for projects */
.grid-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-left: auto;
    margin-right: auto;

}

/* styles for each project card */
.project-card{
    width: 100%;
    border-radius: 10px ;
    position: relative;
    margin-top: 20px;
    margin-bottom: 50px;

}
/* project title */
.project-card h1{
    font-family: var(--heading-font);
    text-align: center;
    font-size: 2vw;
    margin-bottom: 0;
    background-color: #69B50D;
    border-radius: 10px 10px 0 0;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
/* project images */
.project-card img{
    margin-top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-radius: 0 0 10px 10px;
    z-index: 0;
}

/* new project bage*/
.badge-text{
    width: 10px;
    text-align: center;
    font-weight: bolder;
    font-size: 1vw;
    position: relative;
    bottom: 10vw;
    left: 3.5vw;
    z-index: 2;
}

.fa-certificate {
    color: gold;
    font-size: 6vw;
    z-index: 1;
    position: relative;
    bottom: 5vw;
    left: 1.5vw;
}

/* End of Home Page CSS */