body, h1, h2, h3, h4, h5, h6{
    background-color: #ced7e4;
}

a:link, a:visited, a:hover, a:active{
    color: #5797ce;
}

h2{
    font-size: 19px;
    margin-bottom: 35px; 
    line-height: 21px;
}

main{
    margin: 0 auto;
    width: 808px;
    font-size: 19px;
    display: grid;
    grid-template-columns: 250px 460px;
    gap: 68px;
    color: #37455e;
}

main ul{
    list-style: none;
}